/* Base styles for the image */
.image-container {
    width: 100%;
    text-align: center;
}

.responsive-image {
    width: 100%;
    height: auto;
    max-width: 100%;
}

/* Media query for screens smaller than 700px */
@media (max-width: 700px) {
   body{
    background-image:url(/image/sun.webp)
   }

    img{visibility: hidden;}
}